/*========== ADOBE FONTS ==========*/
/* Factoria */
@import url("https://use.typekit.net/iiq7eaz.css");

/* ========== VARIABLE CSS ========== */
:root {
    --header-height: 3.5rem;

    /* ========== COLORS ========== */
    --orange: #f8ae43;
    --dark-orange: #ff6a13;
    --light-blue: #05a0d7;
    --dark-blue: #00538b;
    --darker-blue: #041e42;
    --grey: #8f8f8f;
    --black: #282828;
    --white: #ffffff; 
    --drop-shadow: 0 2px 25px rgba(0,0,0,.3);

    /* ========== FONT & TYPOGRAPHY ========== */
    /* .5rem = 8px | 1rem = 16px */
    --h1-font: "factoria", sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem; 

    /* === FONT WEIGHT === */
    --font-regular: 400;
    --font-medium: 500;

    /* === Z-INDEX === */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== RESPONSIVE TYPOGRAPHY ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/*===== BASE CSS =====*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Factoria', sans-serif;
    font-size: var(--normal-font-size);
    background-color: var(--white);
}

.logo img {
    width: 250px;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*===== REUSABLE CSS =====*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/*===== SUBMENU STYLE =====*/

